[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
requests = "*"
rq = "*"
redis = "*"
celery = "*"
dash = "*"
plotly = "*"
dash-bootstrap-components = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.12.3"
